.wrapper {
  max-width: 1420px;
  height: 100%;
  margin: 0 auto 20px;
  padding: 0 10px;
  
  @media (min-width: 768px) {
    padding: 0 24px;
  }
  
  @media (min-width: 1024px) {
    padding: 0 32px;
  }
  
  &_big {
    max-width: 1920px;
  }
  &_title {
    padding: 0 28px;
  }
  &_big-margin {
    margin-bottom: 30px;
  }
  &_small-margin {
    margin-bottom: 10px;
  }
}
